body{
    background-color: cadetblue;
    color: white;
    text-align: center
}
h1{
    color: rgb(251, 255, 0);
}
h2{
    color: orange;
}
.texto-ingles{
    font-style: italic;
}
#nome-usuario{
    font-weight: bolder;
    color: rgb(238, 165, 238);
}