body{
    background-color: cadetblue;
    color: white;
    text-align: center
}
h1{
    color: black;
}
h2{
    color: orange;
}
.texto-ingles{
    font-style: italic;
}
#nome-usuario{
    font-weight: bolder;
    color: rgb(255, 1, 255);
}